.info-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(28, 29, 31);
  flex: 0 0 300px;
  padding: 20px 20px 60px 25px;
  margin-left: 10px;
  border-radius: 20px;
  align-items: flex-start;
  justify-content: center;
}

.section-header {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
.chevron {
  display: inline-block;
  font-size: 18px;
  transition: transform 0.2s ease;
}
.chevron.open {
  transform: rotate(90deg);
}

.section-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 1000px;
  transition:
    max-height 0.25s ease,
    opacity 0.2s ease;
  opacity: 1;
}
.section-content.collapsed {
  max-height: 0;
  opacity: 0;
}

.input-description {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}
.input-description:hover {
  text-decoration: underline;
}

.input-element {
  margin-bottom: 10px;
  padding: 10px 10px 5px 5px;
  border: none;
  border-radius: 6px;
}
.input-element:focus {
  outline: none;
}

.input-element-desc {
  height: 100px;
  border-radius: 10px;
  padding: 10px 10px 5px 5px;
  margin-bottom: 5px;
  font-size: 14px;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.input-element-desc:focus {
  outline: none;
}

.add-button{
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 13px;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
  

}
.add-button:hover{
  text-decoration: underline;
}


.study-year-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.from {
  margin-bottom: 5px;
  font-size: 12px;
}
.to {
  margin-bottom: 5px;
  margin-top: 8px;
  font-size: 12px;
}
.date-input {
  margin-bottom: 10px;
  padding: 10px 10px 5px 5px;
  width: 100px;
  border: none;
  border-radius: 6px;
}
.date-input:focus {
  outline: none;
}



.update-button {
  background: #c1613d;
  color: white;
  width: 60px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.update-button:active {
  margin-left: 2px;
  margin-top: 6px;
}

.info-bar-footer {
  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
   bottom: 20px;
  left: 15%;
  gap: 15px;
}
.download-btn {
  background: #c1613d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
.download-btn:active {
  margin-left: 2px;
  margin-bottom: -3px;
}

.reset-btn {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
}
.reset-btn:hover{
  text-decoration: underline;
}
