.info-bar{
  display: flex;
  color: white;
  background-color: rgb(28,29,31);
  flex: 0 0 300px;
  padding: 20px 20px 25px 25px;
  margin-left: 20px;
  border-radius: 20px;
  align-items: center;
}

.info-header{
  font-size: 25px;
  font-weight: 500;
}

.input-description {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}
.input-description:hover{
  text-decoration: underline;
}

.input-element {
  margin-bottom: 10px;
  padding: 10px 10px 5px 5px;
  border: none;
  border-radius: 6px;
}
.input-element:focus{
  outline: none;
}

.input-element-desc{
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  
}

.input-element-desc:focus{
  outline: none;
}